.main-container {
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.chart-container{
    margin: 0 auto;
}

.input-inner-container {
    text-align: left;
    display: inline-block;
}

.input-name{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 1.3em;
    padding: 10px;
    min-width: 165px;
    border: 1px solid crimson;
}

.chart-input {
    display: inline-block;
    margin-bottom: 0;
}

.chart-input input{
    font-size: 1.3em;
    padding: 10px;
    min-width: 185px;
}

.textarea-field {
    width: 900px;
    min-height: 250px;
    margin: 50px;
    background: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    font-weight: bold;
}

.submit-button {
    padding: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    background: crimson;
    text-transform: uppercase;
    border: 1px solid crimson;
    cursor: pointer;
}

.submit-button:hover {
    color: crimson;
    background: white;
    border-color: crimson;
}